@charset "UTF-8";
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
.top__btn, .title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.footer__info-contatc-title, .footer__info-address-title, .footer__info-help-title, .footer__info-menu-title, .news__item-link, .project__item-link, .services__item-link, .services__item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

.call__btn, .call__title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}
@font-face {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Dosis-Light.woff2") format("woff2"), url("../fonts/Dosis-Light.woff") format("woff");
}
@font-face {
  font-family: "Dosis-Medium";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Dosis-Medium.woff2") format("woff2"), url("../fonts/Dosis-Medium.woff") format("woff");
}
.top__btn, .title {
  font-family: "RobotoCondensed-Regular";
  font-weight: 400;
}

.footer__info-contatc-title, .footer__info-address-title, .footer__info-help-title, .footer__info-menu-title, .news__item-link, .project__item-link, .services__item-link, .services__item-title {
  font-family: "RobotoCondensed-Bold";
  font-weight: 700;
}

.call__btn, .call__title {
  font-family: "Roboto-Medium";
  font-weight: 500;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Roboto-Regular", "Arial", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #9B9B9B;
}

.container {
  padding: 0 20px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1320px;
  }
}
.title {
  font-size: 24px;
  line-height: 28px;
  position: relative;
  padding-bottom: 28px;
}
.title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 50px;
  height: 8px;
  background-color: #2B4074;
  bottom: 0;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .title {
    font-size: 48px;
    line-height: 56px;
  }
  .title::after {
    width: 100px;
  }
}
.header {
  background-color: #2B4074;
}
.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
  .header__inner {
    min-height: 100px;
  }
}
.logo__link {
  margin-left: 8px;
}

@media (min-width: 640px) {
  .logo__link {
    margin-left: 14px;
  }
}
@media (min-width: 768px) {
  .logo__link {
    margin-left: 0px;
  }
}
.menu__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffffff;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #2B4074;
  position: absolute;
  top: 15px;
  left: 14px;
  box-shadow: 0 4px 0 0 #2B4074, 0 8px 0 0 #2B4074;
}

@media (min-width: 1440px) {
  .menu__btn {
    margin-right: 90px;
  }
}
.head {
  background-image: url("../images/bg-slider.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 193px;
}

.top-slider {
  background: rgba(33, 33, 33, 0.5);
}
.top-slider__item {
  color: #ffffff;
  text-align: center;
  min-height: 193px;
}
.top-slider__title {
  font-family: "RobotoCondensed-Regular";
  font-size: 28px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  padding: 36px 0 28px 0;
  max-width: 243px;
  margin: 0 auto;
  position: relative;
}
.top-slider__title::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 61px;
  height: 8px;
  background-color: #4A4A4A;
  margin: 0 auto;
}
.top-slider__text {
  display: none;
}
.top-slider__btn {
  display: none;
}
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.top-slider .slick-dots .slick-active button {
  background-color: transparent;
  border: 1px solid #476E4D;
}
.top-slider .slick-dots button {
  font-size: 0;
  border: 0;
  background-color: #2B4074;
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 10px;
}

@media (min-width: 640px) {
  .top-slider__item {
    min-height: 386px;
  }
  .top-slider__title {
    font-size: 60px;
    line-height: 60px;
    max-width: 520px;
    margin: 0 auto 30px;
    padding: 50px 0 15px 0;
  }
  .top-slider__btn {
    display: block;
    font-size: 18px;
    font-weight: 500;
    background-color: #2B4074;
    margin: 0 auto 113px;
    color: #F9F6E5;
    border: none;
    border-radius: 3px;
    padding: 16px 45px;
  }
  .top-slider .slick-dots {
    bottom: 50px;
  }
  .top-slider .slick-arrow {
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    right: 0;
    z-index: 5;
  }
  .top-slider .slick-prev {
    background-color: #2B4074;
    top: calc(50% - 56px);
  }
  .top-slider .slick-next {
    background-color: #F9F6E5;
    bottom: calc(50% - 56px);
  }
}
@media (min-width: 768px) {
  .top-slider__item {
    min-height: 465px;
  }
  .top-slider__title {
    margin: 0 auto 0;
    padding: 87px 0 0 0;
  }
  .top-slider__title::after {
    display: none;
  }
  .top-slider__text {
    font-family: "RobotoCondensed-Regular";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 25px 0 32px 0;
    display: block;
    max-width: 587px;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .top-slider__btn:hover {
    background-color: #15203a;
  }
  .top-slider__item {
    min-height: 618px;
  }
  .top-slider__title {
    font-size: 84px;
    line-height: 84px;
    letter-spacing: 2px;
    max-width: 750px;
    padding-top: 101px;
  }
  .top-slider .slick-dots {
    bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .top-slider__item {
    min-height: 668px;
  }
  .top-slider__title {
    font-size: 96px;
    line-height: 96px;
    letter-spacing: 2px;
    max-width: 865px;
    padding-top: 107px;
  }
  .top-slider__text {
    font-size: 24px;
    line-height: 26px;
    max-width: 886px;
  }
  .top-slider .slick-arrow {
    width: 70px;
    height: 70px;
  }
  .top-slider .slick-prev {
    top: calc(50% - 70px);
  }
  .top-slider .slick-next {
    bottom: calc(50% - 70px);
  }
}
.call {
  background-color: #2B4074;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
}
.call__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 15px;
}
.call__text {
  margin-bottom: 40px;
}
.call__btn {
  background-color: #F9F6E5;
  color: #2B4074;
  font-size: 18px;
  padding: 16px 15px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .call {
    text-align: left;
  }
  .call__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .call__box {
    max-width: 427px;
  }
  .call__text {
    margin-bottom: 0;
  }
}
@media (min-width: 1024px) {
  .call__box {
    max-width: 695px;
  }
  .call__btn:hover {
    background-color: #9B9B9B;
  }
}
@media (min-width: 1440px) {
  .call__inner {
    padding: 0 80px;
  }
  .call__box {
    max-width: 796px;
  }
}
.services {
  padding: 25px 0 40px 0;
  text-align: center;
}
.services__title {
  margin-bottom: 47px;
  color: #2B4074;
}
.services__descr {
  font-size: 20px;
  line-height: 24px;
  color: #4A4A4A;
  margin-bottom: 21px;
}
.services__text {
  font-size: 15px;
  line-height: 17px;
  color: #797979;
  margin-bottom: 40px;
}
.services__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 310px;
  border: 1px solid #F9F6E5;
  border-bottom: none;
  padding: 0 18px;
}
.services__item:last-child {
  border-bottom: 1px solid #F9F6E5;
}
.services__item:hover .services__item-text,
.services__item:hover .services__item-link {
  opacity: 1;
  overflow: visible;
  height: auto;
}
.services__item:hover .services__item-img {
  margin-bottom: 14px;
}
.services__item:hover .services__item-title {
  margin-bottom: 30px;
}
.services__item:hover .services__item-inner {
  min-height: 277px;
  border: 4px solid #2B4074;
  margin: 18px 0;
  padding: 25px 20px 5px 20px;
}
.services__item-inner {
  transition: all 0.5s;
}
.services__item-img {
  margin-bottom: 30px;
}
.services__item-title {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2px;
  color: #4A4A4A;
}
.services__item-text, .services__item-link {
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: all 0.5s;
}
.services__item-text {
  margin-bottom: 17px;
}
.services__item-link {
  letter-spacing: 2px;
  color: #2B4074;
  text-transform: uppercase;
}

@media (min-width: 640px) {
  .services {
    padding: 24px 0 0 0;
  }
  .services__title {
    margin-bottom: 20px;
    padding-bottom: 0;
  }
  .services__title::after {
    display: none;
  }
  .services__descr {
    font-size: 24px;
    margin-bottom: 31px;
    padding-bottom: 38px;
    position: relative;
  }
  .services__descr::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100px;
    height: 8px;
    background-color: #2B4074;
    bottom: 0;
    margin: 0 auto;
  }
  .services__text {
    font-size: 18px;
    line-height: 24px;
  }
  .services__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
  }
  .services__item {
    padding: 0 40px;
    width: 50%;
  }
  .services__item:nth-child(even) {
    border-left: none;
  }
  .services__item:last-child {
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .services {
    padding: 50px 0 0 0;
  }
  .services__title {
    margin-bottom: 30px;
  }
  .services__descr {
    text-align: left;
  }
  .services__descr::after {
    margin-left: 0;
  }
  .services__text {
    text-align: left;
    margin-bottom: 27px;
  }
  .services__items {
    margin: 0 -40px;
  }
  .services__item {
    min-height: 334px;
    padding: 0 65px;
  }
  .services__item:hover {
    padding: 0 18px;
  }
  .services__item:hover .services__item-inner {
    min-height: 288px;
    padding: 35px 60px 5px 60px;
  }
}
@media (min-width: 1024px) {
  .services {
    padding: 52px 0 0 0;
  }
  .services__title {
    margin-bottom: 60px;
  }
  .services__descr {
    padding-bottom: 46px;
    margin-bottom: 40px;
  }
  .services__text {
    max-width: 608px;
    margin-bottom: 32px;
  }
  .services__item {
    width: 25%;
    min-height: 277px;
    padding: 0 17px;
  }
  .services__item:nth-child(2), .services__item:nth-child(6) {
    border-right: none;
  }
  .services__item:hover {
    padding: 0 17px;
  }
  .services__item:hover .services__item-inner {
    min-height: 255px;
    margin: 10px 0;
    padding: 21px 9px 5px 9px;
  }
}
@media (min-width: 1440px) {
  .services {
    padding: 52px 0 0 0;
  }
  .services__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 -100px 0 -50px;
  }
  .services__head {
    max-width: 350px;
    margin-right: 100px;
  }
  .services__title {
    text-align: left;
    margin: 90px 0 70px 0;
  }
  .services__descr {
    padding-bottom: 38px;
    margin-bottom: 35px;
  }
  .services__items {
    margin: 0;
  }
  .services__item {
    width: 230px;
    height: 273px;
    padding: 0 5px;
  }
  .services__item:hover {
    padding: 0 5px;
  }
  .services__item:hover .services__item-inner {
    min-height: 255px;
    margin: 5px 0;
    padding: 10px 3px 5px 3px;
  }
}
.project {
  text-align: center;
  padding: 20px 0;
  background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);
}
.project__title {
  color: #ffffff;
  margin-bottom: 40px;
}
.project__title::after {
  background-color: #ffffff;
}
.project__item-img {
  min-height: 250px;
  border-radius: 4px;
  padding: 12px 14px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.project__item-img:hover .project__item-inner {
  opacity: 1;
}
.project__item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(249, 246, 229, 0.83);
  border-radius: 4px;
  min-height: 227px;
  opacity: 0;
  transition: all 0.5s;
}
.project__item-info, .project__item-search {
  margin: 0 7px;
}
.project__item-link {
  display: block;
  line-height: 19px;
  letter-spacing: 2px;
  color: #2B4074;
  padding: 20px 0;
}

@media (min-width: 640px) {
  .project {
    padding: 40px 0 20px 0;
  }
  .project__item-img {
    min-height: 460px;
    padding: 21px 24px;
  }
  .project__item-inner {
    min-height: 417px;
  }
  .project__item-link {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .project {
    padding: 80px 0 60px 0;
  }
  .project__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .project__item-img {
    width: 317px;
    min-height: 282px;
    padding: 12px 14px;
  }
  .project__item-inner {
    min-height: 256px;
  }
  .project__item-link {
    padding: 30px 0;
  }
}
@media (min-width: 1024px) {
  .project__items {
    justify-content: center;
  }
  .project__item-img {
    margin: 0 14px;
  }
}
@media (min-width: 1440px) {
  .project__items {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .project__item-img {
    width: 300px;
    margin: 0;
  }
}
.team {
  text-align: center;
  padding: 20px 0 40px 0;
}
.team__images {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 4px;
}
.team__title {
  color: #4A4A4A;
  margin-bottom: 23px;
}
.team__text {
  margin-bottom: 84px;
}
.team__btn {
  font-weight: 500;
  background-color: #2B4074;
  border: none;
  border-radius: 3px;
  color: #F9F6E5;
  padding: 21px 26px;
  text-transform: uppercase;
}
.team__btn:hover {
  background-color: #15203a;
}

@media (min-width: 640px) {
  .team {
    padding: 46px 0 53px 0;
  }
  .team__images {
    margin-bottom: 40px;
  }
  .team__title {
    margin-bottom: 40px;
  }
  .team__text {
    margin-bottom: 56px;
  }
  .team__btn {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  .team {
    text-align: left;
    padding: 40px 0 48px 0;
  }
  .team__inner {
    display: flex;
  }
  .team__images {
    width: 240px;
    height: 100%;
    margin-right: 34px;
    margin-bottom: 0;
  }
  .team__title {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 7px;
    padding-bottom: 28px;
  }
  .team__title::after {
    margin-left: 0;
  }
  .team__text {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .team__btn {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .team {
    padding: 80px 0;
  }
  .team__images {
    width: 395px;
    margin-right: 60px;
  }
  .team__title {
    margin-top: 10px;
    padding-bottom: 19px;
  }
  .team__text {
    line-height: 24px;
    margin-bottom: 12px;
  }
  .team__btn {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .team {
    padding: 50px 0 110px 0;
  }
  .team__images {
    width: 470px;
    margin-right: 93px;
  }
  .team__title {
    padding-bottom: 40px;
  }
  .team__text {
    width: 553px;
    margin-bottom: 40px;
  }
}
.news {
  text-align: center;
  padding: 40px 0 50px 0;
  background-color: #F9F6E5;
}
.news__title {
  color: #4A4A4A;
  margin-bottom: 40px;
}
.news__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: -15px; /* Компенсируем отрицательные отступы */
}
.news__item {
  margin-bottom: 30px;
}
.news__item-img {
  width: 100%;
  height: auto;
  background-position: center;
  border-radius: 4px 4px 0 0;
}
.news__item-link {
  display: block;
  text-align: left;
  font-size: 18px;
  letter-spacing: 2px;
  color: #4A4A4A;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 10px 19px;
}

.footer {
  text-align: center;
  position: relative;
  background-color: #2B4074;
  padding: 85px 20px 40px 20px;
}
.footer__logo {
  position: absolute;
  top: -30px;
  right: 45px;
  background-color: #2B4074;
  width: 230px;
}
.footer__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 43px;
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.footer__social-link {
  text-decoration: none;
}
.footer__info-contatc, .footer__info-address, .footer__info-help {
  margin-bottom: 40px;
}
.footer__info-contatc-title, .footer__info-address-title, .footer__info-help-title, .footer__info-menu-title {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: normal;
  color: #F9F6E5;
  margin-bottom: 10px;
}
.footer__info-contatc-link, .footer__info-address-text, .footer__info-help-link, .footer__info-menu-link {
  display: block;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 640px) {
  .footer {
    text-align: left;
    padding: 85px 40px 95px 40px;
  }
  .footer__logo {
    right: 205px;
    text-align: center;
  }
  .footer__title {
    padding: 0 12px;
  }
  .footer__social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
    text-align: center;
  }
  .footer__social-link {
    border: 1px solid #7EBF84;
    padding: 18px 0;
  }
  .footer__social-link:first-child {
    border-left: none;
  }
  .footer__social-link:nth-child(2) {
    border-left: none;
  }
  .footer__social-link:nth-child(3) {
    border-left: none;
  }
  .footer__social-link:nth-child(4) {
    border-left: none;
  }
  .footer__social-link:last-child {
    border-right: none;
  }
  .footer__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 137px;
    grid-row-gap: 30px;
  }
  .footer__info-contatc, .footer__info-address, .footer__info-help, .footer__info-menu {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  .footer__info-contatc-title, .footer__info-address-title, .footer__info-help-title, .footer__info-menu-title {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) {
  .footer {
    padding: 114px 40px 86px 40px;
  }
  .footer__logo {
    right: 265px;
  }
  .footer__title {
    font-size: 36px;
    line-height: 32px;
  }
  .footer__social {
    margin-bottom: 70px;
  }
  .footer__info {
    grid-column-gap: 10px;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 158px 40px 127px 40px;
  }
  .footer__logo {
    right: 392px;
  }
  .footer__title {
    width: 820px;
    margin-bottom: 80px;
  }
  .footer__social {
    margin-bottom: 57px;
  }
  .footer__social-link {
    padding: 20px 100px;
  }
  .footer__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 28px;
  }
  .footer__info-contatc, .footer__info-address, .footer__info-help, .footer__info-menu {
    width: 194px;
  }
  .footer__info-contatc-link:hover, .footer__info-address-text:hover, .footer__info-help-link:hover, .footer__info-menu-link:hover {
    color: #9B9B9B;
  }
}
@media (min-width: 1366px) {
  .footer__logo {
    right: 554px;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 158px 150px 115px 150px;
  }
  .footer__logo {
    right: 605px;
  }
  .footer__social {
    margin-bottom: 80px;
  }
  .footer__social-link {
    padding: 20px 120px;
  }
  .footer__info {
    grid-column-gap: 8px;
  }
}
.top {
  background-color: #F9F6E5;
  padding: 56px 20px 20px 20px;
}
.top__inner {
  text-align: center;
}
.top__btn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 2px;
  color: #4A4A4A;
  scroll-behavior: smooth;
}
.top__btn-img {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .top {
    padding: 10px 0;
  }
  .top__btn {
    flex-direction: row;
    justify-content: flex-end;
  }
  .top__btn-img {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .top {
    padding: 10px 140px 0 0;
  }
}/*# sourceMappingURL=style.css.map */