@import "fonts";
@import "vars";
@import "global";

// Header
.header {
    background-color: $accent;
    &__inner {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .submenu {
        display: none;
        position: absolute;
        right: -10px;
        list-style: none;
        padding: 0;
        background-color: #ffffff;
        border-radius: 4px;
    }
    .submenu li {
        padding: 10px 15px;
    }
    .menu:hover .submenu {
        display: block;
        z-index: 1;
    }
    .submenu a {
        text-decoration: none;
        color: $default-color;
    }
    .submenu a:hover {
        color: $text-color;
    }
}
@media (min-width: 640px) {
    .header {
        &__inner {
            min-height: 100px;
        }
        & .submenu {
            right: 0;
        }
    }
}
@media (min-width: 768px) {
    .header .submenu {
        right: 10px;
    }
}
@media (min-width: 1024px) {
    .header .submenu {
        right: 12px;
    }
}
@media (min-width: 1366px) {
    .header .submenu {
        right: 85px;
    }
}
@media (min-width: 1440px) {
    .header .submenu {
        right: 155px;
    }
}

.logo__link {
    margin-left: 8px;
}
@media (min-width: 640px) {
    .logo__link {
        margin-left: 14px;
    }
}
@media (min-width: 768px) {
    .logo__link {
        margin-left: 0px;
    }
}

.menu__btn {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    position: relative;
    &::after {
        content: "";
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background-color: $accent;
        position: absolute;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    }
}
@media (min-width: 1440px) {
    .menu__btn {
        margin-right: 90px;
    }
}

// Head
.head {
    background-image: url('../images/bg-slider.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
}

.top-slider {
    background: rgba(33, 33, 33, 0.50);
    &__item {
        color: #ffffff;
        text-align: center;
        min-height: 193px;
    }
    &__title {
        font-family: 'RobotoCondensed-Regular';
        font-size: 28px;
        font-weight: 400;
        line-height: 28px;
        text-transform: uppercase;
        padding: 36px 0 28px 0;
        max-width: 243px;
        margin: 0 auto;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 61px;
            height: 8px;
            background-color: $text-color;
            margin: 0 auto;
        }
    }
    &__text {
        display: none;
    }
    &__btn {
        display: none;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        .slick-active {
            button {
                background-color: transparent;
                border: 1px solid #476E4D;
            }
        }
        button {
            font-size: 0;
            border: 0;
            background-color: $accent;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
}
@media (min-width: 640px) {
    .top-slider {
        &__item {
            min-height: 386px;
        }
        &__title {
            font-size: 60px;
            line-height: 60px;
            max-width: 520px;
            margin: 0 auto 30px;
            padding: 50px 0 15px 0;
        }
        &__btn {
            display: block;
            font-size: 18px;
            font-weight: 500;
            background-color: $accent;
            margin: 0 auto 113px;
            color: $bg-color;
            border: none;
            border-radius: 3px;
            padding: 16px 45px;
        }
        .slick-dots {
            bottom: 50px;
        }
        .slick-arrow {
            width: 56px;
            height: 56px;
            border: none;
            position: absolute;
            right: 0;
            z-index: 5;
        }
        .slick-prev {
            background-color: $accent;
            top: calc(50% - 56px);
        }
        .slick-next {
            background-color: $bg-color;
            bottom: calc(50% - 56px);
        }
    }
}
@media (min-width: 768px) {
    .top-slider {
        &__item {
            min-height: 465px;
        }
        &__title {
            margin: 0 auto 0;
            padding: 87px 0 0 0;
            &::after {
                display: none;
            }
        }
        &__text {
            font-family: 'RobotoCondensed-Regular';
            font-size: 18px;
            font-weight: 400;
            line-height: 20px;
            padding: 25px 0 32px 0;
            display: block;
            max-width: 587px;
            margin: 0 auto;
        }
    }
}
@media (min-width: 1024px) {
    .top-slider {
        &__btn:hover {
            background-color: $accent-bg;
        }
        &__item {
            min-height: 618px;
        }
        &__title {
            font-size: 84px;
            line-height: 84px;
            letter-spacing: 2px;
            max-width: 750px;
            padding-top: 101px;
        }
        .slick-dots {
            bottom: 80px;
        }
    }
}
@media (min-width: 1440px) {
    .top-slider {
        &__item {
            min-height: 668px;
        }
        &__title {
            font-size: 96px;
            line-height: 96px;
            letter-spacing: 2px;
            max-width: 865px;
            padding-top: 107px;
        }
        &__text {
            font-size: 24px;
            line-height: 26px;
            max-width: 886px;
        }
        .slick-arrow {
            width: 70px;
            height: 70px;
        }
        .slick-prev {
            top: calc(50% - 70px);
        }
        .slick-next {
            bottom: calc(50% - 70px);
        }
    }
}

// Call me
.call {
    background-color: $accent;
    color: #ffffff; 
    padding: 40px 0;
    text-align: center;
    &__title {
        @extend %roboto-500;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    &__text {
        // @extend %dosis-300;
        margin-bottom: 40px;
    }
    &__btn {
        background-color: $bg-color;
        color: $accent;
        font-size: 18px;
        @extend %roboto-500;
        padding: 16px 15px;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;
    }
}
@media (min-width: 768px) {
    .call {
        text-align: left;
        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__box {
            max-width: 427px;
        }
        &__text {
            margin-bottom: 0;
        }
    }
}
@media (min-width: 1024px) {
    .call {
        &__box {
            max-width: 695px;
        }
        &__btn:hover {
            background-color: $default-color;
        }
    }
}
@media (min-width: 1440px) {
    .call {
        &__inner {
            padding: 0 80px;
        }
        &__box {
            max-width: 796px;
        }
    }
}

// Services
.services {
    padding: 25px 0 40px 0;
    text-align: center;
    &__title {
        margin-bottom: 47px;
        color: $accent;
    }
    &__descr {
        font-size: 20px;
        line-height: 24px;
        color: $text-color;
        margin-bottom: 21px;
    }
    &__text {
        font-size: 15px;
        line-height: 17px;
        color: #797979;
        margin-bottom: 40px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 310px;
        border: 1px solid $bg-color;
        border-bottom: none;
        padding: 0 18px;
        &:last-child {
            border-bottom: 1px solid $bg-color;
        }
        &:hover {
            .services__item-text,
            .services__item-link {
                // display: block; // Убран для плавности переключения
                opacity: 1;
                overflow: visible;
                height: auto;
            }
            .services__item-img {
                margin-bottom: 14px;
            }
            .services__item-title {
                margin-bottom: 30px;
            }
            .services__item-inner {
                min-height: 277px;
                border: 4px solid $accent;
                margin: 18px 0;
                padding: 25px 20px 5px 20px;
            }
        }
    }
    &__item-inner {
        transition: all 0.5s; // Плавность переключения для рамки
    }
    &__item-img {
        margin-bottom: 30px;
    }
    &__item-title {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        color: $text-color;
        @extend %robotocondensed-700;
    }
    // Плавность переключения
    &__item-text,
    &__item-link {
        opacity: 0;
        overflow: hidden;
        height: 0;
        transition: all 0.5s;
    }
    // Конец плавности переключения
    &__item-text {
        // display: none; // Убран для плавности переключения
        margin-bottom: 17px;
        // @extend %dosis-500; // * Этот шрифт не работает
    }
    &__item-link {
        // display: none; // Убран для плавности переключения
        letter-spacing: 2px;
        color: $accent;
        @extend %robotocondensed-700;
        text-transform: uppercase;
    }
}
@media (min-width: 640px) {
    .services {
        padding: 24px 0 0 0;
        &__title {
            margin-bottom: 20px;
            padding-bottom: 0;
            &::after {
                display: none;
            }
        }
        &__descr {
            font-size: 24px;
            margin-bottom: 31px;
            padding-bottom: 38px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                width: 100px;
                height: 8px;
                background-color: $accent;
                bottom: 0;
                margin: 0 auto;
            }
        }
        &__text {
            font-size: 18px;
            line-height: 24px;
        }
        &__items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -30px;
        }
        &__item {
            padding: 0 40px;
            width: 50%;
            &:nth-child(even) {
                border-left: none;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
@media (min-width: 768px) {
    .services {
        padding: 50px 0 0 0;
        &__title {
            margin-bottom: 30px;
        }
        &__descr {
            text-align: left;
            &::after {
                margin-left: 0;
            }
        }
        &__text {
            text-align: left;
            margin-bottom: 27px;
        }
        &__items {
            margin: 0 -40px;
        }
        &__item {
            min-height: 334px;
            padding: 0 65px;
            &:hover {
                padding: 0 18px;
                .services__item-inner {
                    min-height: 288px;
                    padding: 35px 60px 5px 60px;
                }
            }
        }
    }
}
@media (min-width: 1024px) {
    .services {
        padding: 52px 0 0 0;
        &__title {
            margin-bottom: 60px;
        }
        &__descr {
            padding-bottom: 46px;
            margin-bottom: 40px;
        }
        &__text {
            max-width: 608px;
            margin-bottom: 32px;
        }
        &__item {
            width: 25%;
            min-height: 277px;
            padding: 0 17px;
            &:nth-child(2),
            &:nth-child(6) {
                border-right: none;
            }
            &:hover {
                padding: 0 17px;
                .services__item-inner {
                    min-height: 255px;
                    margin: 10px 0;
                    padding: 21px 9px 5px 9px;
                }
            }
        }
    }
}
@media (min-width: 1440px) {
    .services {
        padding: 52px 0 0 0;
        &__inner {
            display: flex;
            justify-content: space-between;
            margin: 0 -100px 0 -50px;
        }
        &__head {
            max-width: 350px;
            margin-right: 100px;
        }
        &__title {
            text-align: left;
            margin: 90px 0 70px 0;
        }
        &__descr {
            padding-bottom: 38px;
            margin-bottom: 35px;
        }
        &__items {
            margin: 0;
        }
        &__item {
            width: 230px;
            height: 273px;
            padding: 0 5px;
            &:hover {
                padding: 0 5px;
                .services__item-inner {
                    min-height: 255px;
                    margin: 5px 0;
                    padding: 10px 3px 5px 3px;
                }
            }
        }
    }
}

// Projects
.project {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0.00) 100%);
    &__title {
        color: #ffffff;
        margin-bottom: 40px;
        &::after {
            background-color: #ffffff;
        }
    }
    &__item-img {
        min-height: 250px;
        border-radius: 4px;
        padding: 12px 14px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            .project__item-inner {
                opacity: 1;
            }
        }
    }
    &__item-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($bg-color, 0.83);
        border-radius: 4px;
        min-height: 227px;
        opacity: 0;
        transition: all 0.5s;
    }
    &__item-info,
    &__item-search {
        margin: 0 7px;
    }
    &__item-link {
        display: block;
        @extend %robotocondensed-700;
        line-height: 19px;
        letter-spacing: 2px;
        color: $accent;
        padding: 20px 0;
    }
}
@media (min-width: 640px) {
    .project {
        padding: 40px 0 20px 0;  
        &__item-img {
            min-height: 460px;
            padding: 21px 24px;
        }
        &__item-inner {
            min-height: 417px;
        }
        &__item-link {
            font-size: 20px;
            line-height: 23px;
        }
    }
}
@media (min-width: 768px) {
    .project {
        padding: 80px 0 60px 0;
        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item-img {
            width: 317px;
            min-height: 282px;
            padding: 12px 14px;
        }
        &__item-inner {
            min-height: 256px;
        }
        &__item-link {
            padding: 30px 0;
        }
    }
}
@media (min-width: 1024px) {
    .project {
        &__items {
            justify-content: center;
        }
        &__item-img {
            margin: 0 14px;
        }
    }
}
@media (min-width: 1440px) {
    .project {
        &__items {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        &__item-img {
            width: 300px;
            margin: 0;
        }
    }
}

// Team
.team {
    text-align: center;
    padding: 20px 0 40px 0;
    &__images {
        width: 100%;
        margin-bottom: 40px;
        border-radius: 4px;
    }
    &__title {
        color: $text-color;
        margin-bottom: 23px;
    }
    &__text {
        margin-bottom: 84px;
    }
    &__btn {
        font-weight: 500;
        background-color: $accent;
        border: none;
        border-radius: 3px;
        color: $bg-color;
        padding: 21px 26px;
        text-transform: uppercase;
    }
    &__btn:hover {
        background-color: $accent-bg;
    }
}
@media (min-width: 640px) {
    .team {
        padding: 46px 0 53px 0;
        &__images {
            margin-bottom: 40px;
        }
        &__title {
            margin-bottom: 40px;
        }
        &__text {
            margin-bottom: 56px;
        }
        &__btn {
            font-size: 20px;
        }
    }
}
@media (min-width: 768px) {
    .team {
        text-align: left;
        padding: 40px 0 48px 0;
        &__inner {
            display: flex;
        }
        &__images {
            width: 240px;
            height: 100%;
            margin-right: 34px;
            margin-bottom: 0;
        }
        &__title {
            font-size: 36px;
            line-height: 38px;
            margin-bottom: 7px;
            &::after {
                margin-left: 0;
            }
            padding-bottom: 28px;
        }
        &__text {
            font-size: 18px;
            margin-bottom: 30px;
        }
        &__btn {
            font-size: 18px;
        }
    }
}
@media (min-width: 1024px) {
    .team {
        padding: 80px 0;
        &__images {
            width: 395px;
            margin-right: 60px;
        }
        &__title {
            margin-top: 10px;
            padding-bottom: 19px;
        }
        &__text {
            line-height: 24px;
            margin-bottom: 12px;
        }
        &__btn {
            font-size: 18px;
        }
    }
}
@media (min-width: 1440px) {
    .team {
        padding: 50px 0 110px 0;
        &__images {
            width: 470px;
            margin-right: 93px;
        }
        &__title {
            padding-bottom: 40px;
        }
        &__text {
            width: 553px;
            margin-bottom: 40px;
        }
    }
}

// News
.news {
    text-align: center;
    padding: 40px 0 50px 0;
    background-color: $bg-color;
    &__title {
        color: $text-color;
        margin-bottom: 40px;
    }
    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        margin: -15px; /* Компенсируем отрицательные отступы */
    }
    &__item {
        margin-bottom: 30px;
    }
    &__item-img {
        width: 100%;
        height: auto;
        background-position: center;
        border-radius: 4px 4px 0 0;
    }
    &__item-link {
        display: block;
        text-align: left;
        font-size: 18px;
        letter-spacing: 2px;
        color: $text-color;
        background-color: #ffffff;
        border-radius: 0 0 4px 4px;
        padding: 10px 19px;
        @extend %robotocondensed-700;
    }
}

// Footer
.footer {
    text-align: center;
    position: relative;
    background-color: $accent;
    padding: 85px 20px 40px 20px;
    &__logo {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        background-color: $accent;
        width: 230px;
    }
    &__title {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        color: #ffffff;
        margin-bottom: 43px;
    }
    &__social {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 40px;
    }
    &__social-link {
        text-decoration: none;
    }
    &__info-contatc,
    &__info-address,
    &__info-help {
        margin-bottom: 40px;
    }
    &__info-contatc-title,
    &__info-address-title,
    &__info-help-title,
    &__info-menu-title {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: normal;
        color: $bg-color;
        @extend %robotocondensed-700;
        margin-bottom: 10px;
    }
    &__info-contatc-link,
    &__info-address-text,
    &__info-help-link,
    &__info-menu-link {
        display: block;
        line-height: 20px;
        color: #ffffff;
        text-decoration: none;
    }
}
@media (min-width: 640px) {
    .footer {
        text-align: left;
        padding: 85px 40px 95px 40px;
        &__title {
            padding: 0 12px;
        }
        &__social {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 0;
            text-align: center;
        }
        &__social-link {
            border: 1px solid $stroke-color;
            padding: 18px 0;
        }
        &__social-link:first-child {
            border-left: none;
        }
        &__social-link:nth-child(2) {
            border-left: none;
        }
        &__social-link:nth-child(3) {
            border-left: none;
        }
        &__social-link:nth-child(4) {
            border-left: none;
        }
        &__social-link:last-child {
            border-right: none;
        }
        &__info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 137px;
            grid-row-gap: 30px;
        }
        &__info-contatc,
        &__info-address,
        &__info-help,
        &__info-menu {
            display: flex;
            flex-direction: column;
            margin: 0;
        }
        &__info-contatc-title,
        &__info-address-title,
        &__info-help-title,
        &__info-menu-title {
            margin-bottom: 25px;
        }
    }
}
@media (min-width: 768px) {
    .footer {
        padding: 114px 40px 86px 40px;
        &__title {
            font-size: 36px;
            line-height: 32px;
        }
        &__social {
            margin-bottom: 70px;
        }
        &__info {
            grid-column-gap: 10px;
        }
    }
}
@media (min-width: 1024px) {
    .footer {
        padding: 158px 40px 127px 40px;
        &__title {
            width: 820px;
            margin-bottom: 80px;
        }
        &__social {
            margin-bottom: 57px;
        }
        &__social-link {
            padding: 20px 100px;
        }
        &__info {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 28px;
        }
        &__info-contatc,
        &__info-address,
        &__info-help,
        &__info-menu {
            width: 194px;
        }
        &__info-contatc-link:hover,
        &__info-address-text:hover,
        &__info-help-link:hover,
        &__info-menu-link:hover {
            color: $default-color;
        }
    }
}

@media (min-width: 1440px) {
    .footer {
        padding: 158px 150px 115px 150px;
        &__social {
            margin-bottom: 80px;
        }
        &__social-link {
            padding: 20px 120px;
        }
        &__info {
            grid-column-gap: 8px;
        }
    }
}

// Top button
.top {
    background-color: $bg-color;
    padding: 56px 20px 20px 20px;
    &__inner {
        text-align: center;
    }
    &__btn {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        color: $text-color;
        @extend %robotocondensed-400;
        // scroll-behavior: smooth;
    }
    &__btn-img {
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 640px) {
    .top {
        padding: 10px 0;
        &__btn {
            flex-direction: row;
            justify-content: flex-end;
        }
        &__btn-img {
            margin: 0;
        }
    }
}
@media (min-width: 1024px) {
    .top__btn:hover {
        color: #000000;
    }
}
@media (min-width: 1440px) {
    .top {
        padding: 10px 140px 0 0;
    }
}